<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <!-- Estilos de la pagina -->

    <link rel="stylesheet" href="../../static/css/app.css">     
    <link rel="stylesheet" href="../../static/css/boxicons.min.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/proveedor.css">

    <script src="../../static/js/jquery-3.3.1.min.js"></script>

    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- estilos para produccion -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/proveedor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/boxicons.min.css') }}">
    <!-- estilos para datatables -->
    <link rel="stylesheet" type="text/css" href="/static/datatables/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="/static/datatables/DataTables-1.11.1/css/dataTables.bootstrap4.min.css">

</head>
<body> 
  <script type="text/javascript" src="/static/datatables/datatables.min.js"></script>
  <script type="text/javascript" src="/static/js/mainProv.js"></script>


    
  <div class="sidebar">
    <div class="logo-details">
        <i class='bx bx-glasses-alt'></i>
        <span class="logo_name">Optica MyM</span>
    </div>
    <ul class="nav-links"> <!--! Enlaces--->
      <li class="list active"><a href="/">
          <i class='bx bx-grid-alt' ></i>  <!-- *Imagen-->
          <span class="pagina_link">Dashboard</span>
        </a>           
      </li>
      <li class="list">
        <div class="iocn-link">
          <a href="#">
            <i class='bx bxl-dropbox' ></i>
            <span class="pagina_link">Productos</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="pagina_link" href="#">Category</a></li>
          <li><a href="/insertar_producto">Agregar Producto</a></li>
          <li><a href="#">Almacen</a></li>
          <li><a href="#">Lente de contacto</a></li>
          <li><a href="#">Accesorios</a></li>
        </ul>                      
      </li>
      <li class="list">
        <a href="/stock_producto">
          <i class='bx bx-list-check' ></i>
          <span class="pagina_link">Inventario</span>
        </a>            
      </li>
      <li class="list">
        <a href="#">
          <i class='bx bxs-cart-add'></i>
          <span class="pagina_link">Ventas</span>
        </a>            
      </li>
      <li class="list">
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="pagina_link">Categoría</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="pagina_link" href="#">Category</a></li>
          <li><a href="#">Luna</a></li>
          <li><a href="#">Montura</a></li>
          <li><a href="#">Lente de contacto</a></li>
          <li><a href="#">Accesorios</a></li>
        </ul>
      </li>   
      <li class="list">
        <a href="/proveedor">
          <i class='bx bxs-truck' ></i>
          <span class="pagina_link">Proveedores</span>
        </a>            
      </li>    
      <li class="list">
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-user' ></i>
            <span class="pagina_link">Pacientes</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="pagina_link" href="#">Category</a></li>
          <li><a href="/insertar_paciente">Nuevo paciente</a></li>
          <li><a href="/registro_paciente">Registro de pacientes</a></li>
          <li><a href="/historial_paciente">Historial de pacientes</a></li>
        </ul>          
      </li>
      <li class="list">
        <a href="#">
          <i class='bx bx-line-chart' ></i>
          <span class="pagina_link">Estadísticas</span>
        </a>            
      </li>
      <li class="list">
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-plug' ></i>
            <span class="pagina_link">Plugins</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="pagina_link" href="#">Plugins</a></li>
          <li><a href="#">UI Face</a></li>
          <li><a href="#">Pigments</a></li>
          <li><a href="#">Box Icons</a></li>
        </ul>
      </li>
      <li class="list">
        <a href="#">
          <i class='bx bx-shield-quarter' ></i>
          <span class="pagina_link">Seguridad</span>
        </a>            
      </li>     
      <li>
    <div class="profile-details">
      <div class="profile-content">
        <!--<img src="image/profile.jpg" alt="profile">-->
      </div>
      <div class="name-job">
        <div class="profile_name">Sadbois'team</div>
        <div class="job">Equipo de desarrollo</div>
      </div>
      <a href="/salir"><i class='bx bx-log-out' ></i></a>
      
    </div>
  </li>
</ul>
  </div>
      </li>
    </ul>
      </div>
    </li>
  </ul>
    </div>
    <section class="home-section">
      <div class="home-content">
        <i class='bx bx-menu' ></i>
        <span class="text"><h1>Nuevo producto</h1></span>
        <div class="user-wrapper">
          <img src="jb.png" alt="50px" height="50px" alt="">
          <div> 
              <h4>Karen D</h4>
              <small>Admin</small>
          </div>
      </div>
      </div>
        <div class="home-espacio">
          <!--COLOCAR ACA EL CONTENIDO-->
          <main>
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <button id="btnNuevo" type="button" class="btn btn-success" >Nuevo</button>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="table-responsive">
                    <table id="tabla_proveedores" class="table table-light table-striped" >
                      <thead class="thead-dark table-striped">
                        <tr>
                         <th>#</th>
                         <th>Nombres</th>
                         <th>N.telefono</th>
                         <th>Correo</th>
                         <th>Direccion</th>
                         <th>Dni o Ruc</th>
                         <th>Empresa</th>
                         <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                           {% for proveedor in proveedores %}
                           <tr>
                            <td>{{proveedor[0] }}</td>
                            <td>{{proveedor[1] }}</td>
                            <td>{{proveedor[2] }}</td>
                            <td>{{proveedor[3] }}</td>
                            <td>{{proveedor[4] }}</td>
                            <td>{{proveedor[5] }}</td>
                            <td>{{proveedor[6] }}</td>
                            <td> 
                              <div class="text-center">
                                <div class="btn-group">
                                  <button class="btn btn-primary btnEditar" type="button">Editar</button>
                                  <!--<button class="btn btn-danger btnEliminar" type="button">Eliminar</button>-->
                                  <a class="btn btn-danger" onclick="return confirm('¿Esta seguro que quiere eliminarlo?')" href="/borrarP/{{proveedor[0]}}">Eliminar</a>
                                </div>
                              </div>
                              <!-- <a href="/editarP/{{proveedor[0]}}">Editar</a> | -->
                              <!--<a onclick="return confirm('¿Esta seguro que quiere eliminarlo?')" href="/borrarP/{{proveedor[0]}}">Eliminar</a> |-->               
                            </td>
                           </tr>
                           {% endfor %}  
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="modalCRUD" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <form id="formProveedores" method="POST" action="/proveedor" enctype="multipart/form-data">           
                          <div class="modal-body">
                              <div class="form-group">
                                <label for="nombre">Nombres</label>
                                <input id="nombre" class="form-control" type="text" name="nombre">  
                              </div>
                              <div class="form-group">
                                <label for="numero">Telefono</label>
                                <input id="numero" class="form-control" type="text" name="numero">  
                              </div>
                              <div class="form-group">
                                <label for="email">Correo</label>
                                <input id="email" class="form-control" type="text" name="email">                                  
                              </div>
                              <div class="form-group">
                                <label for="direccion">Direccion</label>
                                <input id="direccion" class="form-control" type="text" name="direccion">                                
                              </div> 
                              <div class="form-group">
                                <label for="dniRuc">Dni o Ruc</label>
                                <input id="dniRuc" class="form-control" type="text" name="dniRuc">                                
                              </div>   
                              <div class="form-group">
                                <label for="empre">Empresa</label>
                                <input id="empre" class="form-control" type="text" name="empre">                                  
                              </div>   
                          <div class="modal-footer">
                              <button class="btn btn-dark" type="button" data-dismiss="modal">Cancelar</button>
                              <button class="btn btn-success" type="submit" id="btnRegistrar">Registrar</button>
                          </div>
                          <!---- <input class="form" type="reset" name="Eliminar" value="Limpiar">  -->
                          </div>       
                      </form>
                  </div>
              </div>
            </div>
            <div class="modal fade" id="modalCRUDEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <form id="formProveedoresEdit" method="POST" action="/actualizarP" enctype="multipart/form-data">           
                          <div class="modal-body">
                              <div class="form-group">
                                <label for="txtid">ID</label>
                                <input id="txtid" class="form-control" type="text" name="txtid" readonly="readonly">  
                              </div>
                              <div class="form-group">
                                <label for="txtnombre">Nombres</label>
                                <input id="txtnombre" class="form-control" type="text" name="txtnombre">  
                              </div>
                              <div class="form-group">
                                <label for="txtnumero">Telefono</label>
                                <input id="txtnumero" class="form-control" type="text" name="txtnumero">  
                              </div>
                              <div class="form-group">
                                <label for="txtemail">Correo</label>
                                <input id="txtemail" class="form-control" type="text" name="txtemail">                                  
                              </div>
                              <div class="form-group">
                                <label for="txtdireccion">Direccion</label>
                                <input id="txtdireccion" class="form-control" type="text" name="txtdireccion">                                
                              </div> 
                              <div class="form-group">
                                <label for="txtdniRuc">Dni o Ruc</label>
                                <input id="txtdniRuc" class="form-control" type="text" name="txtdniRuc">                                
                              </div>   
                              <div class="form-group">
                                <label for="txtempre">Empresa</label>
                                <input id="txtempre" class="form-control" type="text" name="txtempre">                                  
                              </div>   
                          <div class="modal-footer">
                              <button class="btn btn-dark" type="button" data-dismiss="modal">Cancelar</button>
                              <button class="btn btn-primary" type="submit" id="btnRegistrar">Actualizar</button>
                          </div>
                          <!---- <input class="form" type="reset" name="Eliminar" value="Limpiar">  -->
                          </div>       
                      </form>
                  </div>
              </div>
            </div>
          </main>    
          </div>
      </section>
    
      <script>

        // NO TOCAR
           let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e)=>{
        let arrowParent = e.target.parentElement.parentElement;
        arrowParent.classList.toggle("showMenu");
            });
        }
        
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");
        });

        const list=document.querySelectorAll('.list');
        function activeLink(){
          list.forEach((item) =>
          item.classList.remove('active'));
          this.classList.add('active')
        }
        list.forEach((item)=>
        item.addEventListener('click',activeLink));
      </script>

      
</body>
</html>