<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <!-- Estilos de la pagina -->
    <link rel="stylesheet" href="../../static/css/boxicons.min.css">
    <link rel="stylesheet" href="../../static/css/proveedor.css">
    <!-- estilos para produccion -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/proveedor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/boxicons.min.css') }}">
</head>
<body> 
    <!-- <script src="../../static/js/insertar_producto.js"></script>
    <script src="{{
      url_for('static', filename='js/insertar_producto.js') }}"></script> -->
    
    
    <!-- <i class='bx bx-user'></i>
    <i class='bx bxs-user'></i>
    <i class='bx bxl-facebook-square'></i>
    <br> -->

    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-glasses-alt'></i>
            <span class="logo_name">Optica MyM</span>
        </div>
        <ul class="nav-links"> <!--! Enlaces--->
          <li class="list active"><a href="#">
              <i class='bx bx-grid-alt' ></i>  <!-- *Imagen-->
              <span class="pagina_link">Dashboard</span>
            </a>           
          </li>
          <li class="list">
            <div class="iocn-link">
              <a href="#">
                <i class='bx bxl-dropbox' ></i>
                <span class="pagina_link">Productos</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="pagina_link" href="#">Category</a></li>
              <li><a href="/insertar_producto">Agregar Producto</a></li>
              <li><a href="#">Almacen</a></li>
              <li><a href="#">Lente de contacto</a></li>
              <li><a href="#">Accesorios</a></li>
            </ul>                      
          </li>
          <li class="list">
            <a href="#">
              <i class='bx bx-list-check' ></i>
              <span class="pagina_link">Inventario</span>
            </a>            
          </li>
          <li class="list">
            <a href="#">
              <i class='bx bxs-cart-add'></i>
              <span class="pagina_link">Ventas</span>
            </a>            
          </li>
          <li class="list">
            <div class="iocn-link">
              <a href="#">
                <i class='bx bx-collection' ></i>
                <span class="pagina_link">Categoría</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="pagina_link" href="#">Category</a></li>
              <li><a href="#">Luna</a></li>
              <li><a href="#">Montura</a></li>
              <li><a href="#">Lente de contacto</a></li>
              <li><a href="#">Accesorios</a></li>
            </ul>
          </li>   
          <li class="list">
            <a href="/proveedor">
              <i class='bx bxs-truck' ></i>
              <span class="pagina_link">Proveedores</span>
            </a>            
          </li>    
          <li class="list">
            <div class="iocn-link">
              <a href="#">
                <i class='bx bx-user' ></i>
                <span class="pagina_link">Pacientes</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="pagina_link" href="#">Category</a></li>
              <li><a href="/insertar_paciente">Nuevo paciente</a></li>
              <li><a href="#">Registro de pacientes</a></li>
              <li><a href="#">Lente de contacto</a></li>
              <li><a href="#">Accesorios</a></li>
            </ul>          
          </li>
          <li class="list">
            <a href="#">
              <i class='bx bx-line-chart' ></i>
              <span class="pagina_link">Estadísticas</span>
            </a>            
          </li>
          <li class="list">
            <div class="iocn-link">
              <a href="#">
                <i class='bx bx-plug' ></i>
                <span class="pagina_link">Plugins</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="pagina_link" href="#">Plugins</a></li>
              <li><a href="#">UI Face</a></li>
              <li><a href="#">Pigments</a></li>
              <li><a href="#">Box Icons</a></li>
            </ul>
          </li>
          <li class="list">
            <a href="#">
              <i class='bx bx-shield-quarter' ></i>
              <span class="pagina_link">Seguridad</span>
            </a>            
          </li>     
          <li>
        <div class="profile-details">
          <div class="profile-content">
            <!--<img src="image/profile.jpg" alt="profile">-->
          </div>
          <div class="name-job">
            <div class="profile_name">Sadbois'team</div>
            <div class="job">Equipo de desarrollo</div>
          </div>
          <i class='bx bx-log-out' ></i>
        </div>
      </li>
    </ul>
      </div>
      <section class="home-section">
        <div class="home-content">
          <i class='bx bx-menu' ></i>
          <span class="text"><h1>Menu Principal</h1></span>
          <div class="user-wrapper">
            <img src="jb.png" alt="50px" height="50px" alt="">
            <div> 
                <h4>Karen D</h4>
                <small>Admin</small>
            </div>
        </div>
        </div>
        <div class="home-espacio">
          <!--COLOCAR ACA EL CONTENIDO-->
          <main>
            <div class="box">
              <form >
                  
                 
                 
                  <div class="row">
                  
                      <div class="input-group">
                          <input type="text" id="nombre" required>
                          <label for="nombre"> Nombres</label>
                      </div>
                      <div class="input-group">
                          <input type="text" id="numero" required>
                          <label for="numero">N.telefono</label>
                      </div>
                      
                  </div>
                  
                <div class="row">
                  <div class="input-group">
                      <input type="email" id="email"required>
                      <label for="email">correo </label>
                  </div>
      
                  <div class="input-group">
                      <input type="text" id="empre" required>
                      <label for="empre">Empresa</label>
                  </div>
      
                  
                </div>
      
               <!---- <input class="form" type="reset" name="Eliminar" value="Limpiar">-->
      
               <input class="form" type="submit" name="Registrar" value="Registrar">
                
                <div class="container">
                    <div class="row">
                        <button id="btnNuevo" type="button" class="btn btn-success" data-toggle="modal">Nuevo</button>
                    </div>
                </div>
               
                   
                      <div class="container">
                          <table class="table">
                              <thead id="tablapersonas"class="text-center">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Nombres</th>
                                  <th scope="col">N.telefono</th>
                                  <th scope="col">correo</th>
                                  <th scope="col">Empresa</th>
                                  <th scope="col">Acciones</th>
                                </tr>
                              </thead>
                              
                             
                            </table>
                          <tbody>
                              <tr>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th>
                                      
                                  </th>
                                  
                              </tr>
                          </tbody>
                          
                      </div>
      
              </form>
              
          </div>
          <!-- Button trigger modal -->
      <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Launch static backdrop modal
        </button> -->
        
        <!-- Modal -->
        <!-- <div class="modal fade" id="modalCRUD" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ejampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
           <form id="formpersonas">
               <div class="modal-body">
                   <div class="form-group">
                   <label for="nombre"class="col-form label">Nombres</label>
                   <input type="text" class="form-control" id="nombre" >
               </div>
               <div class="modal-body">
                  <div class="form-group">
                  <label for="numero"class="col-form label">N.telefono</label>
                  <input type="text" class="form-control" id="numero" >
              </div>
              <div class="modal-body">
                  <div class="form-group">
                  <label for="email"class="col-form label">correo</label>
                  <input type="text" class="form-control" id="email" >
              </div>
              
              </div>      
           </from>   
      
            </div>
           </div>
          </div>
          </div>    
      </div> -->
        </main>
            <!--COLOCAR ACA EL CONTENIDO-->   
        </div>
      </section>
    



      <script>

        // NO TOCAR
           let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e)=>{
        let arrowParent = e.target.parentElement.parentElement;
        arrowParent.classList.toggle("showMenu");
            });
        }
        
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");
        });

        const list=document.querySelectorAll('.list');
        function activeLink(){
          list.forEach((item) =>
          item.classList.remove('active'));
          this.classList.add('active')
        }
        list.forEach((item)=>
        item.addEventListener('click',activeLink));
      </script>
</body>
</html>