.home-espacio{
   /* !NO TOCAR */
   width: 100%;
   height: 93.3vh;
   /* !NO TOCAR */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


/*! Agregado por Runi */
/** MENU PRINCIPAL */

form {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  margin-left: 18px;
  padding: 2rem 1.5rem;
  background: #f1f3f5;
}

#imagenpaciente{
  width: 160px;
  align-self: center;
  margin-bottom: 1em;
}

input{
  color: rgb(109, 101, 101);
  margin-bottom: 1em;
}

label{
  margin-bottom: 0.5em;
  font-size: 1.3em;
}

input[type='text'], input[type='email'], input[type='date']{
  border: none;
  border-bottom: gray 1px solid;
  background:none ;
  font-size: 18px;
}

input[type='text']:focus{
  outline: blue 1px solid;
  padding: 2px;
}

input[type='email']:focus{
  outline: blue 1px solid;
  padding: 2px;
}

.botones{
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
}

.home-espacio button[type='submit']{
  border:1px solid black;
  /* margin-left: 1em; */
  background: rgb(9, 70, 121);
  color: rgb(255, 255, 255);
  border-radius: 3px;
  font-size: 1.5em;
  border: none;
  padding:0.5em 1.5em;
  cursor: pointer;  
}

.home-espacio button[type='reset']{
  background:whitesmoke ;
  color: rgb(219, 66, 66);
  border-radius: 3px;
  font-size: 1.5em;
  border: none;
  padding:0.5em 1.5em;
  cursor: pointer;  
}

.home-espacio button[type='reset']:hover{
  background:rgb(240, 225, 225);
}

.home-espacio button[type='submit']:hover{
  background: rgb(30, 125, 202);
}

.home-espacio .genero{
  display: flex;
  flex-flow: nowrap row;
}

.home-espacio .genero input{
  margin-right: 0.5em;
}

.home-espacio .genero label{
  font-size: 18px;
  margin-right: 5em;
}

#text-idtxt{
  
  background: rgb(190, 186, 186);
}

.bx-check-circle{
  font-size: 1.5em;
  color: green;
}

.home-espacio #regresar{
  background:whitesmoke ;
  color: rgb(77, 57, 57);
  border-radius: 3px;
  font-size: 1.5em;
  border: none;
  padding:0.5em 1.5em;
  cursor: pointer;  
}


/* 
.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h1 {
  margin: 0;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
} */