<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial</title>
    <!-- Estilos de la pagina -->
    <link rel="stylesheet" href="../static/css/app.css">
    
    <link rel="stylesheet" href="../../static/css/boxicons.min.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/bootstrap-select.css">
    <link rel="stylesheet" href="../../static/css/font_awesome.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.bundle.css">
    <script src="../../static/js/jquery.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>   -->
    <link rel="stylesheet" href="../../static/css/paciente_historial.css">
    
    <!-- <script src="../../static/js/bootstrap.min.js"></script> -->
     
    <!-- Latest compiled and minified JavaScript -->
    
     
    <!-- estilos para produccion -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/paciente_historial.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/boxicons.min.css') }}">
    
    
    <!-- <script src="../../static/js/paciente.js"></script> -->
</head>
<body> 
    
    <!-- <script src="{{
      url_for('static', filename='js/paciente.js') }}"></script> -->
      <!-- <script type="text/javascript"  src="../../static/js/paciente.js" charset="utf-8"></script> -->

    
    <!-- <i class='bx bx-user'></i>
    <i class='bx bxs-user'></i>
    <i class='bx bxl-facebook-square'></i>
    <br> -->

    <div class="sidebar">
      <div class="logo-details">
          <i class='bx bx-glasses-alt'></i>
          <span class="logo_name">Optica MyM</span>
      </div>
      <ul class="nav-links"> <!--! Enlaces--->
        <li class="list active"><a href="/">
            <i class='bx bx-grid-alt' ></i>  <!-- *Imagen-->
            <span class="pagina_link">Dashboard</span>
          </a>           
        </li>
        <li class="list">
          <div class="iocn-link">
            <a href="#">
              <i class='bx bxl-dropbox' ></i>
              <span class="pagina_link">Productos</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="pagina_link" href="#">Category</a></li>
            <li><a href="/insertar_producto">Agregar Producto</a></li>
            <li><a href="#">Almacen</a></li>
            <li><a href="#">Lente de contacto</a></li>
            <li><a href="#">Accesorios</a></li>
          </ul>                      
        </li>
        <li class="list">
          <a href="#">
            <i class='bx bx-list-check' ></i>
            <span class="pagina_link">Inventario</span>
          </a>            
        </li>
        <li class="list">
          <a href="#">
            <i class='bx bxs-cart-add'></i>
            <span class="pagina_link">Ventas</span>
          </a>            
        </li>
        <li class="list">
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-collection' ></i>
              <span class="pagina_link">Categoría</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="pagina_link" href="#">Category</a></li>
            <li><a href="#">Luna</a></li>
            <li><a href="#">Montura</a></li>
            <li><a href="#">Lente de contacto</a></li>
            <li><a href="#">Accesorios</a></li>
          </ul>
        </li>   
        <li class="list">
          <a href="/proveedor">
            <i class='bx bxs-truck' ></i>
            <span class="pagina_link">Proveedores</span>
          </a>            
        </li>    
        <li class="list">
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-user' ></i>
              <span class="pagina_link">Pacientes</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="pagina_link" href="#">Category</a></li>
            <li><a href="/insertar_paciente">Nuevo paciente</a></li>
            <li><a href="/registro_paciente">Registro de pacientes</a></li>
            <li><a href="#">Lente de contacto</a></li>
            <li><a href="#">Accesorios</a></li>
          </ul>          
        </li>
        <li class="list">
          <a href="#">
            <i class='bx bx-line-chart' ></i>
            <span class="pagina_link">Estadísticas</span>
          </a>            
        </li>
        <li class="list">
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-plug' ></i>
              <span class="pagina_link">Plugins</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="pagina_link" href="#">Plugins</a></li>
            <li><a href="#">UI Face</a></li>
            <li><a href="#">Pigments</a></li>
            <li><a href="#">Box Icons</a></li>
          </ul>
        </li>
        <li class="list">
          <a href="#">
            <i class='bx bx-shield-quarter' ></i>
            <span class="pagina_link">Seguridad</span>
          </a>            
        </li>     
        <li>
      <div class="profile-details">
        <div class="profile-content">
          <!--<img src="image/profile.jpg" alt="profile">-->
        </div>
        <div class="name-job">
          <div class="profile_name">Sadbois'team</div>
          <div class="job">Equipo de desarrollo</div>
        </div>
        <i class='bx bx-log-out' ></i>
      </div>
    </li>
  </ul>
    </div>
      <section class="home-section">
        <div class="home-content">
          <i class='bx bx-menu' ></i>
          <span class="text"><h1>Historial paciente</h1></span>
          <div class="user-wrapper">
            <img src="jb.png" alt="50px" height="50px" alt="">
            <div> 
                <h4>Karen D</h4>
                <small>Admin</small>
            </div>
        </div>
        </div>
        <div class="home-espacio">
          <!--COLOCAR ACA EL CONTENIDO-->
          <main>    
            <div class="w-25">
              <select name="tipopaciente" class="form-control" id="tipopaciente" data-container="body" data-live-search="true" title="Selecciona el historial" data-hide-disabled="true"  >
              {% for row in registros %}
              <option value="{{row[0]}}">{{row[5]}}</option>              
              {% endfor %}
            </select>
          </div>        

          <div class="w-25">
            <select name="histopaciente" class="form-control" id="histopaciente" data-container="body" data-live-search="true" title="Selecciona el historial" data-hide-disabled="true"></select>
            <input type ="submit" name="Delete All" value="Delete All" onclick="{{ url_for('delall') }}"/>
            <input type="text" name="valor2" size="40" id="valor2" value="Aquí saldrá el valor del select cuando cambie">
            {% for abduscan in rellenito %}
            <table class="table table-dark">
              <tbody>
                <tr>
                  <td>{{abduscan[0]}}</td>
                  <td>{{abduscan[1]}}</td>
                  <td>{{abduscan[2]}}</td>
                  <td>{{abduscan[3]}}</td>
                  <td>{{abduscan[4]}}</td>
                  <td>{{abduscan[5]}}</td>
                </tr>
              </tbody>
            </table>
            {% endfor %}             
        </div>
            
        <div class="contenedor-historial" id="panquesito">
          <h3>Consultorio oftalmológico</h3> 
          <h4>Receta de lentes</h4> 
          <p>Nombre:</p>
          <input type="text" name="nombre" id="text-nombre">
          <p>Medida</p>
          <table class="table table-light">
              <thead class="thead-light">
                  <tr>
                      <th>#</th>
                      <th>ESF</th>
                      <th>CIL</th>
                      <th>EJE</th>
                      <th>ADD</th>
                      <th>DIF</th>
                      <th>AVL</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th>OD</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                  <tr>
                      <th>OI</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
          Diagnóstico:
          <input type="text" name="diagnostico" id="text-diagnostico">
      </div>
          
        </main>
            <!--COLOCAR ACA EL CONTENIDO-->   
        </div>
      </section>
    
      <script src="../../static/js/app.js"></script>
      <script src="../../static/js/bootstrap.bundle.min.js"></script>
      <script src="../../static/js/bootstrap-select.js"></script>
      
      <script>

        // Paciente
         $(document).ready(function () {
                $("#tipopaciente").selectpicker();   
                $("#histopaciente").selectpicker();
   
                function load_data(type, category_id) {
                    $.ajax({
                        url: "/tipopaciente",
                        method: "POST",
                        data: { type: type, category_id: category_id },
                        dataType: "json",
                        success: function (data) { alert(category_id)
                            var html = "";
                            for (var count = 0; count < data.length; count++) {
                                html += '<option value="' + data[count].id + '">' + data[count].name + "</option>";
                            }
                            // html += '<input type="text" value="' + data[count].ojoizq + '">' +  "</input>";
                            if (type == "carData") {
                                $("#tipopaciente").html(html);
                                $("#tipopaciente").selectpicker("refresh");
                            } else {
                                $("#histopaciente").html(html);
                                $("#histopaciente").selectpicker("refresh");
                            }
                        },
                    });
                }
   
                $(document).on("change", "#tipopaciente", function () {
                    var category_id = $("#tipopaciente").val();
                    load_data("carModeldata", category_id);
                    
                });
            });


            $(document).ready(function(){              
              $("#histopaciente").change(function(){
                        alert($('select[id=histopaciente]').val());
                        $('#valor2').val($(this).val());
                        // document.getElementById("text-nombre").innerHTML=value.substring(0,3).toUpperCase();
              });
             
            });

           
      </script>
</body>
</html>