<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar producto</title>
    <!-- Estilos de la pagina -->
    <link rel="stylesheet" href="../static/css/app.css">
    <link rel="stylesheet" href="../../static/css/boxicons.min.css">
    <!-- <link rel="stylesheet" href="../../static/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../../static/css/insertar_producto.css">

    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- estilos para produccion -->
    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/insertar_producto.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/boxicons.min.css') }}">
</head>
<body> 
    <script src="../../static/js/insertar_producto.js"></script>
    <script src="{{
      url_for('static', filename='js/insertar_producto.js') }}"></script>
    
    
    <!-- <i class='bx bx-user'></i>
    <i class='bx bxs-user'></i>
    <i class='bx bxl-facebook-square'></i>
    <br> -->

    <div class="sidebar">
      <div class="logo-details">
          <i class='bx bx-glasses-alt'></i>
          <span class="logo_name">Optica MyM</span>
      </div>
      <ul class="nav-links"> <!--! Enlaces--->
        <li class="list active"><a href="/">
            <i class='bx bx-grid-alt' ></i>  <!-- *Imagen-->
            <span class="pagina_link">Dashboard</span>
          </a>           
        </li>
        <li class="list">
          <div class="iocn-link">
            <a href="#">
              <i class='bx bxl-dropbox' ></i>
              <span class="pagina_link">Productos</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="pagina_link" href="#">Category</a></li>
            <li><a href="/insertar_producto">Agregar Producto</a></li>
            <li><a href="#">Almacen</a></li>
            <li><a href="#">Lente de contacto</a></li>
            <li><a href="#">Accesorios</a></li>
          </ul>                      
        </li>
        <li class="list">
          <a href="#">
            <i class='bx bx-list-check' ></i>
            <span class="pagina_link">Inventario</span>
          </a>            
        </li>
        <li class="list">
          <a href="#">
            <i class='bx bxs-cart-add'></i>
            <span class="pagina_link">Ventas</span>
          </a>            
        </li>
        <li class="list">
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-collection' ></i>
              <span class="pagina_link">Categoría</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="pagina_link" href="#">Category</a></li>
            <li><a href="#">Luna</a></li>
            <li><a href="#">Montura</a></li>
            <li><a href="#">Lente de contacto</a></li>
            <li><a href="#">Accesorios</a></li>
          </ul>
        </li>   
        <li class="list">
          <a href="/proveedor">
            <i class='bx bxs-truck' ></i>
            <span class="pagina_link">Proveedores</span>
          </a>            
        </li>    
        <li class="list">
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-user' ></i>
              <span class="pagina_link">Pacientes</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="pagina_link" href="#">Category</a></li>
            <li><a href="/insertar_paciente">Nuevo paciente</a></li>
            <li><a href="/registro_paciente">Registro de pacientes</a></li>
            <li><a href="/historial_paciente">Historial de pacientes</a></li>
          </ul>          
        </li>
        <li class="list">
          <a href="#">
            <i class='bx bx-line-chart' ></i>
            <span class="pagina_link">Estadísticas</span>
          </a>            
        </li>
        <li class="list">
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-plug' ></i>
              <span class="pagina_link">Plugins</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="pagina_link" href="#">Plugins</a></li>
            <li><a href="#">UI Face</a></li>
            <li><a href="#">Pigments</a></li>
            <li><a href="#">Box Icons</a></li>
          </ul>
        </li>
        <li class="list">
          <a href="#">
            <i class='bx bx-shield-quarter' ></i>
            <span class="pagina_link">Seguridad</span>
          </a>            
        </li>     
        <li>
      <div class="profile-details">
        <div class="profile-content">
          <!--<img src="image/profile.jpg" alt="profile">-->
        </div>
        <div class="name-job">
          <div class="profile_name">Sadbois'team</div>
          <div class="job">Equipo de desarrollo</div>
        </div>
        <i class='bx bx-log-out' ></i>
      </div>
    </li>
  </ul>
    </div>
      <section class="home-section">
        <div class="home-content">
          <i class='bx bx-menu' ></i>
          <span class="text"><h1>Nuevo producto</h1></span>
          <div class="user-wrapper">
            <img src="jb.png" alt="50px" height="50px" alt="">
            <div> 
                <h4>Karen D</h4>
                <small>Admin</small>
            </div>
        </div>
        </div>
        <div class="home-espacio">
          <!--COLOCAR ACA EL CONTENIDO-->
                    <!-- * FORMULARIO -->
            <form method="POST" action="/almacenar_pro" enctype="multipart/form-data" name="nombreform">
                <!-- * Combobox: Categoría -->
                <div class="select-categoria animated zoomIn" onclick="cargarform();filtro();lentecontacto();" >
                  <!-- You can toggle select (disabled) -->
                  <input type="radio" name="option" id="categoria-combo">
                  <i class="bx bxs-caret-down-square"></i>
                  <i class="bx bxs-caret-up-square"></i>
                  <span class="placeholder">Categoría</span>
                  <label class="option">
                    <input type="radio" name="option" id="categoria-combo" value="1">
                    <span class="title animated fadeIn"><i class="bx bx-glasses-alt" ></i><p>Montura</p></span>
                  </label>
                  <label class="option">
                    <input type="radio" name="option" id="categoria-combo" value="2">
                    <span class="title animated fadeIn"><i class="bx bx-glasses-alt"></i><p>Luna</p></span>
                  </label>
                  <label class="option">
                    <input type="radio" name="option" id="categoria-combo" value="3">
                    <span class="title animated fadeIn"><i class="bx bx-glasses-alt"></i><p>Lente de contacto</p></span>
                  </label>
                  <label class="option">
                    <input type="radio" name="option" id="categoria-combo" value="4">
                    <span class="title animated fadeIn"><i class="bx bx-glasses-alt"></i><p>Accesorios</p></span>
                  </label>
              </div>
                <!-- * Combobox: Categoría -->
                <br>
                <div class="contenido-left">
                      <!-- * Componentes estaticos -->
                      <label for="nombre-pro">Nombre del producto :</label><br>
                      <input type="text" name="nombre-pro" id="text-nombre-pro" placeholder="Producto"><br>
                      <!-- * Componentes estaticos -->
                      <!-- ! Componente dinamico -->
                    <!-- <label for="material-pro">Material</label><br>
                      <input type="text" name="material-pro" id="text-material-pro"><br>
                      <!-- *Forma radiobotones -->
                      <!--<input type="radio" name="forma" id="rectangulo" value="rectangulo">
                      <label for="rectangulo">Rectángulo</label>
                      <input type="radio" name="forma" id="circulo" value="circulo">
                      <label for="circulo">Círculo</label>
                      <input type="radio" name="forma" id="ovalo" value="ovalo">
                      <label for="ovalo">Ovalo</label>
                      <input type="radio" name="forma" id="otro">
                      <label for="otro">Otro</label><br><br>-->  
                      <!-- OPCION DE Montura -->
                      <div id="cambio-montura" style="display:none;">
                        <label for="marca-pro-montura">Marca :</label><br>
                        <input type="text" name="marca-pro-montura" class="text-marca-pro"><br>
                        <label for="codigo-pro">Código del producto :</label><br>
                        <input type="text" name="codigo-pro" id="text-codigo-pro"><br>
                        <div class="cajitas">
                          <label>Género :</label>
                          <input type="radio" name="genero-pro" id="radio-masculino" value="hombre">
                          <label for="rectangulo">Hombre</label>
                          <input type="radio" name="genero-pro" id="radio-femenino" value="mujer">
                          <label for="circulo">Mujer</label>
                          <input type="radio" name="genero-pro" id="radio-ninos" value="ninos">
                          <label for="circulo">Niños</label>
                        </div>
                        <br>
                        <div class="cajitas">
                          <label>Forma :</label>
                          <select name="forma-montura" id="select-forma-montura">
                              <option value="redonda">redonda</option>
                              <option value="ovalada">ovalada</option>
                              <option value="diamante">diamante</option>
                              <option value="cuadrada">cuadrada</option>
                              <option value="corazón">corazón</option>
                          </select>  
                        </div>
                        <br>
                        <label for="">Medida de la montura :</label><br><br>
                        <div class="cajitas">                          
                          <label for="calibre-pro">Calibre</label>
                          <input type="number" name="calibre-pro" id="number-calibre" min="0" size="3px">
                          <label for="puente_pro">Puente</label>
                          <input type="number" name="puente-pro" id="number-puente" min="0" size="3px">
                          <label for="ancho_pro">Ancho</label>
                          <input type="number" name="ancho-pro" id="number-ancho" min="0" size="3px"><br>
                        </div>
                        <br>
                        <div class="cajitas">
                          <label for="color-pro">Color: </label><br>
                          <input type="text" name="color-pro" id="color-color">
                        </div>
                      </div>
                      <!-- OPCION DE Montura -->

                      <!-- OPCION DE LUNA -->
                      <div id="cambio-luna" style="display:none;">
                        <label for="marca-pro-luna">Marca :</label><br>
                        <input type="text" name="marca-pro-luna" id="text-marca-pro"><br>
                        <!-- <p>Proteccion Uv:</p><br>
                        <input type="radio" name="uv-pro" id="radio-uv-si" value="1">
                        <label for="radio-uv-si">Si</label>
                        <input type="radio" name="uv-pro" id="radio-uv-no" value="0">
                        <label for="radio-uv-no">No</label> <br><br> -->
                        <label for="tipo-luna">Tipo de luna :</label>
                        <select name="tipoluna" id="select-luna">                    
                          <option value="Monofocal">Monofocal</option>
                          <option value="Bifocal">Bifocal</option>
                          <option value="Multifocal">Multifocal</option>
                        </select>
                        <br><br>
                        <label for="tipo-tipomaterial">material :</label>
                        <select name="tipomaterial" id="select-material" onclick="filtro();">                    
                          <option value="Organico">Orgánico</option>
                          <option value="Vidrio">Vidrio</option>
                          <option value="Policarbonato">Policarbonato</option>
                        </select>
                        <br><br>
                        <label for="tipo-filtro-organico">filtro :</label>
                        <select name="tipo-filtro-organico" id="select-filtro-or" style="display: none;">                    
                          <option value="Simple">Simple</option>
                          <option value="Anti-reflex">Anti-reflex</option>
                          <option value="Blue-defense">Blue-defense</option>
                          <option value="Fotocromatico-AR">Fotocromático Anti-reflex</option>
                          <option value="Fotocromatico-BLUE">Fotocromático Blue</option>
                        </select>
                        <select name="tipo-filtro-vidrio" id="select-filtro-vi" style="display: none;">                    
                          <option value="Simple">Simple</option>
                          <option value="Anti-reflex">Anti-reflex</option>
                          <option value="Fotocromatico">Fotocromático</option>
                        </select>
                        <select name="tipo-filtro-policarbonato" id="select-filtro-po" style="display: none;">                    
                          <option value="Simple">Simple</option>
                          <option value="Anti-reflex">Anti-reflex</option>
                          <option value="Fotocromatico-AR">Fotocromático Anti-reflex</option>
                          <option value="Fotocromatico-BLUE">Fotocromático Blue</option>
                        </select>
                        <br>
                      </div>
                      <!-- OPCION DE LUNA -->

                      <!-- OPCION DE Lente de contacto -->
                      <div id="cambio-lentecontacto" style="display:none;">
                        <label for="marca-pro-lentecontacto">Marca :</label><br>
                        <input type="text" name="marca-pro-lentecontacto" class="text-marca-pro"><br>
                        <label for="tipocontacto">Tipo de lente de contacto :</label>
                        <select name="tipocontacto" id="select-tipocontacto" onclick="lentecontacto();">                    
                          <option value="Cosmetico">Cosmético</option>
                          <option value="Miopia">Miopía</option>
                          <option value="Torico">Tórico</option>
                        </select>
                        <br><br>
                        <div id="lente-cosmetico" style="display:none;">
                          <label for="tipocontacto-color">Color :</label>
                          <select name="tipocontacto-color" id="select-tipocontacto-color">                    
                            <option value="Azul">Azul</option>
                            <option value="Verde">Verde</option>
                            <option value="Honey">Honey</option>
                            <option value="Gray">Gray</option>
                            <option value="Hazel">Hazel</option>
                          </select>
                        </div>
                        <div id="lente-miopia" style="display:none;">
                          <label for="medida-contacto">Medida :</label>
                          <input type="number" name="medida-contacto" id="number-contacto" step="0.25" min="-0.50" max="22.00" size="4px" placeholder="-0.25">
                          <span class="validity"></span>
                        </div> 
                        <br>                      
                      </div>
                      <!-- OPCION DE Lente de contacto -->

                      <!-- OPCION DE Accesorio -->
                      <div id="cambio-accesorio" style="display:none;">                        
                          <div class="cajitas">
                            <label>Género :</label>
                            <input type="radio" name="genero-pro" id="radio-masculino" value="hombre">
                            <label for="rectangulo">Hombre</label>
                            <input type="radio" name="genero-pro" id="radio-femenino" value="mujer">
                            <label for="circulo">Mujer</label>
                            <input type="radio" name="genero-pro" id="radio-ninos" value="unisex">
                            <label for="circulo">unisex</label>
                            
                          </div>
                          <br>
                      </div>
                      <!-- OPCION DE Accesorio -->
                <!-- ! Componente dinamico -->                               
                        <label for="stock-pro">Stock :</label>
                        <input type="number" name="stock-pro" id="number-stock-pro" min="0" size="4px">
                        <label for="precio-pro">Precio :</label>
                        <input type="number" name="precio-pro" id="number-precio-pro" min="0" size="4px"><br><br>
                        <div class="botones">
                          <input type="button" value="Cancelar"> 
                          <input type="submit" value="Registrar">                           
                        </div>   
                                                                 
                </div>                
                <div class="image-product">
                  <label for="imagen">Imagen</label><br><br>
                  <!-- <img id="previsualizacion" src="../../uploads/imagen.png" alt="imagen_defecto"> -->
                  <img src="{{url_for('static', filename='image/imagen.png')}}" id="previsualizacion"  alt="imagen_defecto">
                  <br><br>
                  <input type="file" name="imagen-pro" id="file-imagen">
                </div>
            <br><br>              
                        
            </form>
        <!-- * FORMULARIO -->
                    
        </div>
      </section>
    


      <script src="../../static/js/app.js"></script>
      <script>   
      function cargarform(){   
        var a = document.getElementById("cambio-montura");
        var b = document.getElementById("cambio-luna");
        var c = document.getElementById("cambio-lentecontacto");
        var d = document.getElementById("cambio-accesorio");    
        var val_categoria=document.nombreform.option.value;
        switch(val_categoria){
          case "1":
              b.style.display = "none";
              c.style.display = "none";
              d.style.display = "none";
              a.style.display = "block";
            break;
          case "2":
              a.style.display = "none";
              c.style.display = "none";
              d.style.display = "none";
              b.style.display = "block";
            break;
          case "3":
              a.style.display = "none";
              b.style.display = "none";
              d.style.display = "none";
              c.style.display = "block";
            break;
          case "4":
              a.style.display = "none";
              b.style.display = "none";
              c.style.display = "none";
              d.style.display = "block";
            break;
        } 
      }

      function filtro(){
        var a = document.getElementById("select-filtro-or");
        var b = document.getElementById("select-filtro-vi");
        var c = document.getElementById("select-filtro-po");
        var val_filtro=document.nombreform.tipomaterial.value;
        switch(val_filtro){
          case "Organico":
              b.style.display = "none";
              c.style.display = "none";
              a.style.display = "block";
            break;
          case "Vidrio":
              a.style.display = "none";
              c.style.display = "none";
              b.style.display = "block";
            break;
          case "Policarbonato":
              a.style.display = "none";
              b.style.display = "none";
              c.style.display = "block";
            break;
        } 
      }

      function lentecontacto(){
        var a = document.getElementById("lente-cosmetico");
        var b = document.getElementById("lente-miopia");
        var val_filtro=document.nombreform.tipocontacto.value;
        switch(val_filtro){
          case "Cosmetico":
              a.style.display = "block";
              b.style.display = "none";
            break;
          case "Miopia":
              a.style.display = "none";
              b.style.display = "block";
            break;
          case "Torico":
              a.style.display = "none";
              b.style.display = "none";
            break;
        } 
      }     
      </script>   
</body>
</html>