<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar producto</title>
    <link rel="stylesheet" href="../../static/css/boxicons.min.css">
    <link rel="stylesheet" href="../../static/css/insertar_producto.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/insertar_producto.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/boxicons.min.css') }}">
</head>
<body> 
    <script src="../../static/js/insertar_producto.js"></script>

    
    <!-- <i class='bx bx-user'></i>
    <i class='bx bxs-user'></i>
    <i class='bx bxl-facebook-square'></i>
    <br> -->

    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-glasses-alt'></i>
            <span class="logo_name">Optica MyM</span>
        </div>
        <ul class="nav-links"> <!--! Enlaces--->
          <li><a href="#">
              <i class='bx bx-grid-alt' ></i>  <!-- *Imagen-->
              <span class="pagina_link">Dashboard</span>
            </a>           
          </li>
          <li>
            <a href="#">
              <i class='bx bx-compass' ></i>
              <span class="pagina_link">Productos</span>
            </a>            
          </li>
          <li>
            <a href="#">
              <i class='bx bx-compass' ></i>
              <span class="pagina_link">Inventario</span>
            </a>            
          </li>
          <li>
            <div class="iocn-link">
              <a href="#">
                <i class='bx bx-collection' ></i>
                <span class="pagina_link">Categoría</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="pagina_link" href="#">Category</a></li>
              <li><a href="#">Luna</a></li>
              <li><a href="#">Montura</a></li>
              <li><a href="#">Lente de contacto</a></li>
              <li><a href="#">Accesorios</a></li>
            </ul>
          </li>          
          <li>
            <a href="#">
              <i class='bx bx-compass' ></i>
              <span class="pagina_link">Clientes</span>
            </a>            
          </li>
          <li>
            <a href="#">
              <i class='bx bx-line-chart' ></i>
              <span class="pagina_link">Estadísticas</span>
            </a>            
          </li>
          <li>
            <div class="iocn-link">
              <a href="#">
                <i class='bx bx-plug' ></i>
                <span class="pagina_link">Plugins</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="pagina_link" href="#">Plugins</a></li>
              <li><a href="#">UI Face</a></li>
              <li><a href="#">Pigments</a></li>
              <li><a href="#">Box Icons</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-compass' ></i>
              <span class="pagina_link">Seguridad</span>
            </a>            
          </li>     
          <li>
        <div class="profile-details">
          <div class="profile-content">
            <!--<img src="image/profile.jpg" alt="profile">-->
          </div>
          <div class="name-job">
            <div class="profile_name">Sadbois'team</div>
            <div class="job">Equipo de desarrollo</div>
          </div>
          <i class='bx bx-log-out' ></i>
        </div>
      </li>
    </ul>
      </div>
      <section class="home-section">
        <div class="home-content">
          <i class='bx bx-menu' ></i>
          <span class="text"><h1>Nuevo Producto</h1></span>
          <div class="user-wrapper">
            <img src="jb.png" alt="50px" height="50px" alt="">
            <div> 
                <h4> Karen D</h4>
                <small>Admin</small>
            </div>
        </div>
        </div>
        <div class="home-espacio">

          

          <!--COLOCAR ACA EL CONTENIDO-->
                    <!-- * FORMULARIO -->
            <form method="POST" action="/almacenar_pro" enctype="multipart/form-data" name="nombreform">
                <!-- * Combobox: Categoría -->
                <div class="select-categoria animated zoomIn" onclick="cargarform();filtro();lentecontacto();" >
                  <!-- You can toggle select (disabled) -->
                  <input type="radio" name="option" id="categoria-combo">
                  <i class="bx bxs-caret-down-square"></i>
                  <i class="bx bxs-caret-up-square"></i>
                  <span class="placeholder">Categoría</span>
                  <label class="option">
                    <input type="radio" name="option" id="categoria-combo" value="1">
                    <span class="title animated fadeIn"><i class="bx bx-glasses-alt" ></i><p>Montura</p></span>
                  </label>
                  <label class="option">
                    <input type="radio" name="option" id="categoria-combo" value="2">
                    <span class="title animated fadeIn"><i class="bx bx-glasses-alt"></i><p>Luna</p></span>
                  </label>
                  <label class="option">
                    <input type="radio" name="option" id="categoria-combo" value="3">
                    <span class="title animated fadeIn"><i class="bx bx-glasses-alt"></i><p>Lente de contacto</p></span>
                  </label>
                  <label class="option">
                    <input type="radio" name="option" id="categoria-combo" value="4">
                    <span class="title animated fadeIn"><i class="bx bx-glasses-alt"></i><p>Accesorios</p></span>
                  </label>
              </div>
                <!-- * Combobox: Categoría -->
                <br>
                <!-- * Componentes estaticos -->
                <label for="nombre-pro">Nombre del producto :</label><br>
                <input type="text" name="nombre-pro" id="text-nombre-pro" placeholder="Producto"><br>
                <label for="marca-pro">Marca :</label><br>
                <input type="text" name="marca-pro" id="text-marca-pro"><br>
                <label for="codigo-pro">Código del producto :</label><br>
                <input type="text" name="codigo-pro" id="text-codigo-pro"><br>
                <!-- * Componentes estaticos -->
                <!-- ! Componente dinamico -->
               <!-- <label for="material-pro">Material</label><br>
                <input type="text" name="material-pro" id="text-material-pro"><br>
                <!-- *Forma radiobotones -->
                <!--<input type="radio" name="forma" id="rectangulo" value="rectangulo">
                <label for="rectangulo">Rectángulo</label>
                <input type="radio" name="forma" id="circulo" value="circulo">
                <label for="circulo">Círculo</label>
                <input type="radio" name="forma" id="ovalo" value="ovalo">
                <label for="ovalo">Ovalo</label>
                <input type="radio" name="forma" id="otro">
                <label for="otro">Otro</label><br><br>-->  
                <!-- OPCION DE Montura -->
                <div id="cambio-montura" style="display:none;">
                  <label> Género</label>
                  <input type="radio" name="genero-pro" id="radio-masculino" value="hombre">
                  <label for="rectangulo">Hombre</label>
                  <input type="radio" name="genero-pro" id="radio-femenino" value="mujer">
                  <label for="circulo">Mujer</label>
                  <br>
                  <label for="calibre-pro">Calibre</label>
                  <input type="number" name="calibre-pro" id="number-calibre" min="0" size="5px">
                  <label for="puente_pro">Puente</label>
                  <input type="number" name="puente-pro" id="number-puente" min="0" size="5px">
                  <label for="ancho_pro">Ancho</label>
                  <input type="number" name="ancho-pro" id="number-ancho" min="0" size="5px">

                  <label for="color-pro">Color: </label>
                  <input type="color" name="color-pro" id="color-color"><br><br>
                </div>
                <!-- OPCION DE Montura -->

                <!-- OPCION DE LUNA -->
                <div id="cambio-luna" style="display:none;">
                  <p>Proteccion Uv:</p><br>
                  <input type="radio" name="uv-pro" id="radio-uv-si" value="1">
                  <label for="radio-uv-si">Si</label>
                  <input type="radio" name="uv-pro" id="radio-uv-no" value="0">
                  <label for="radio-uv-no">No</label> <br><br>
                  <label for="tipo-luna">Tipo de luna</label>
                  <select name="tipoluna" id="select-luna">                    
                    <option value="1">Monofocal</option>
                    <option value="2">Bifocal</option>
                    <option value="3">Multifocal</option>
                  </select>
                  <select name="tipomaterial" id="select-material" onclick="filtro();">                    
                    <option value="1">Orgánico</option>
                    <option value="2">Vidrio</option>
                    <option value="3">Policarbonato</option>
                  </select>
                  <select name="tipo-filtro-organico" id="select-filtro-or" style="display: none;">                    
                    <option value="1">Simple</option>
                    <option value="2">Anti-reflex</option>
                    <option value="3">Blue-defense</option>
                    <option value="4">Fotomatic Anti-reflex</option>
                    <option value="5">Fotomatic Blue</option>
                  </select>
                  <select name="tipo-filtro-vidrio" id="select-filtro-vi" style="display: none;">                    
                    <option value="1">Simple</option>
                    <option value="2">Anti-reflex</option>
                    <option value="3">Fotocromático</option>
                  </select>
                  <select name="tipo-filtro-policarbonato" id="select-filtro-po" style="display: none;">                    
                    <option value="1">Simple</option>
                    <option value="2">Anti-reflex</option>
                    <option value="3">Fotomatic Anti-reflex</option>
                    <option value="4">Fotoblue</option>
                  </select>
                </div>
                <!-- OPCION DE LUNA -->

                <div id="cambio-lentecontacto" style="display:none;">
                  <label for="tipocontacto">Tipo de lente de contacto</label><br>
                  <select name="tipocontacto" id="select-tipocontacto" onclick="lentecontacto();">                    
                    <option value="1">Cosmético</option>
                    <option value="2">Miopía</option>
                    <option value="3">Tórico</option>
                  </select>
                  <br>
                  <label for="tipocontacto-color">Color</label><br>
                  <select name="tipocontacto-color" id="select-tipocontacto-color" style="display: none;">                    
                    <option value="1">Azul</option>
                    <option value="2">Verde</option>
                    <option value="3">Honey</option>
                    <option value="4">Gray</option>
                    <option value="5">Hazel</option>
                  </select>
                </div>
                <div id="cambio-accesorio" style="display:none;">
                  
                </div>
          <!-- ! Componente dinamico -->
                
                
                
            <br>
            <br>
                
            <br>
                <label for="stock-pro">Stock :</label>
                <input type="number" name="stock-pro" id="number-stock-pro" min="0" size="4px">
                <label for="precio-pro">Precio :</label>
                <input type="number" name="precio-pro" id="number-precio-pro" min="0" size="4px"><br><br>
                
                <label for="imagen">Imagen</label>
                <input type="file" name="imagen-pro" id="file-imagen">
            <br><br>
                <input type="submit" value="Enviar">
            </form>
        <!-- * FORMULARIO -->
                    
        </div>
      </section>
    



      <script>   

      function cargarform(){   
        var a = document.getElementById("cambio-montura");
        var b = document.getElementById("cambio-luna");
        var c = document.getElementById("cambio-lentecontacto");
        var d = document.getElementById("cambio-accesorio");    
        var val_categoria=document.nombreform.option.value;
        switch(val_categoria){
          case "1":
              b.style.display = "none";
              c.style.display = "none";
              d.style.display = "none";
              a.style.display = "block";
            break;
          case "2":
              a.style.display = "none";
              c.style.display = "none";
              d.style.display = "none";
              b.style.display = "block";
            break;
          case "3":
              a.style.display = "none";
              b.style.display = "none";
              d.style.display = "none";
              c.style.display = "block";
            break;
          case "4":
              a.style.display = "none";
              b.style.display = "none";
              c.style.display = "none";
              d.style.display = "block";
            break;
        } 
      }

      function filtro(){
        var a = document.getElementById("select-filtro-or");
        var b = document.getElementById("select-filtro-vi");
        var c = document.getElementById("select-filtro-po");
        var val_filtro=document.nombreform.tipomaterial.value;
        switch(val_filtro){
          case "1":
              b.style.display = "none";
              c.style.display = "none";
              a.style.display = "block";
            break;
          case "2":
              a.style.display = "none";
              c.style.display = "none";
              b.style.display = "block";
            break;
          case "3":
              a.style.display = "none";
              b.style.display = "none";
              c.style.display = "block";
            break;
        } 
      }

      function lentecontacto(){
        var a = document.getElementById("select-tipocontacto-color");
        var val_filtro=document.nombreform.tipocontacto.value;
        switch(val_filtro){
          case "1":
              a.style.display = "block";
            break;
          case "2":
              a.style.display = "none";
            break;
          case "3":
              a.style.display = "none";
            break;
        } 
      }



      //no tocar
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e)=>{
        let arrowParent = e.target.parentElement.parentElement;
        arrowParent.classList.toggle("showMenu");
            });
        }
        
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");
        });
      </script>   
</body>
</html>